<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PivotalTrackerApiKey" value="6e04e8c9512f0906a6f2d8d22d463765"/>
    <add key="SvnRootUrl" value="https://svn.nvminternal.net/svn"/>
    <add key="JiraUserName" value="nvm.api.integration"/>
    <add key="JiraPass" value="N3wV01c3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
